meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Requerimientos técnicos y prototipos
meta(meta name="description" content="En este componente se fortalecerá el desarrollo de prototipos y validación de los pasos a tener en cuenta en control de calidad, trabajando con normas vigentes, para el desarrollo de productos y contextualización de requisitos, todo esto va de la mano con la producción o confección de prendas de vestir en tejido de punto, ropa interior y ropa deportiva, la calidad o la elaboración en masa son puntos principales para definir el desarrollo de las prendas.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")