h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. ???]
        p.mb-0 Validar prototipos o muestras físicas de acuerdo con los requerimientos técnicos del patronaje industrial
        





