h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body        
        ul.bg-color-dark.mb-0
            li.mb-0
                span Validar prototipos o muestras físicas de acuerdo con los requerimientos técnicos del patronaje industrial.
        





