.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td ISO, Sistema de Gestion de Calidad 9001:2015.
                    td Web
                    td 
                        a(href="https://www.iso.org/obp/ui/#iso:std:iso:9001:ed-5:v1:es", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver