.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td Academia confección alamoda. (13 de diciembre 2018). DIY cómo hacer un pantalón sudadera entubado con cintas laterales corte y confección.[video]. YouTube
                    td Video
                    td 
                        a(href="https://youtu.be/oZTVpkX7cuk", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver        
                tr
                    td Academia confección alamoda. (17 de octubre 2019). DIY cómo hacer un pantalón de sudadera mujer corte y confección.[video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/hlBctRHgSUw", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td Academia confección alamoda. (20 de octubre 2019). DIY cómo confeccionar un boxer de hombre.[video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/Y3tyM2WTpZ0", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td Academia confección alamoda. (6 de abril de 2019). DIY cómo hacer camiseta polo hombre corte y confección.[video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/HJJp-lOu1E4", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td Alonso, F. (2015). Manual control de calidad en productos textiles y afines. 
                    td PDF
                    td 
                        a(href="media/documentos/Manual_Control_Calidad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Gutiérrez, E. (2017). Calidad: instrumento capaz de garantizar el éxito de la gestión a largo plazo evolución del significado de calidad.
                    td PDF
                    td 
                        a(href="media/documentos/Complementario_14_3_Articulo.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td ISO. (2015). Sistema de gestión de calidad 9001: 2015.
                    td Web
                    td 
                        a(href="https://www.iso.org/obp/ui/#iso:std:iso:9001:ed-5:v1:es", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Josmar creando con amor. (24 de abril de 2020). Top deportivo muy fácil de confeccionar /josmar. [video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/3xGfOwDybBs", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Juki central europe. (11 de agosto 2015). JUKI - polo shirt production. [video]. YouTube
                    td Video
                    td 
                        a(href="https://youtu.be/QPor7WBIZNA", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Mata. J. (26 de agosto 2017). Confección de ropa interior para damas. [video]. YouTube
                    td Video
                    td 
                        a(href="https://youtu.be/Ds5CtwVbaag", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Montilla, E. (10 de mayo 2017). Confección de Leggins deportivo con transparencia. [video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/owM_WYtLwlc", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Red producción de contenidos grupo gestión curricular SENA. (23 de noviembre 2020). Panty tanga. [video]. YouTube.
                    td Video
                    td 
                        a(href="https://youtu.be/G4IGF6OvFSQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Red producción de contenidos grupo gestión curricular SENA. (23 de noviembre 2020). Boxer pijamero. [video]. YouTube
                    td Video
                    td 
                        a(href="https://youtu.be/3E8_mDzj8LU", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver