include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Equipo de Desarrollo Curricular, SENA Programa técnico control calidad en confección industrial, equipo de desarrollo curricular.", "")

        +referenciaItem("Six Sigma Lean solutions. (2020). [Blog]. Consultado el 22 de septiembre de 2020.", "http://leansolutions.co/conceptos-lean/que-es-six-sigma/")

        +referenciaItem("Servicio Nacional de Aprendizaje (SENA). (1973). Programa de control de calidad. Unidad 1.7. Normalización [E-book]. Consultado el 21 de septiembre de 2020.", "https://hdl.handle.net/11404/6667")

        +referenciaItem("Servicio Nacional de Aprendizaje (SENA). (1973). Programa de control de calidad. Unidad 1.9. Aspecto económico de la calidad [E-book]. Consultado el 21 de septiembre de 2020.", "https://hdl.handle.net/11404/6669")
        
        +referenciaItem("Servicio Nacional de Aprendizaje (SENA). (1990). Control de calidad en hilos y telas [E-book]. Consultado el 21 de septiembre de 2020.", "https://hdl.handle.net/11404/4252")