.container#tema_1_6

    .header-ecored
      h1 1.6 Control de calidad en confección

    .jumbotron.bg-white     
      .row.mb-5 
        .col-12 
          p Tiene en cuenta la distribución de las operaciones, es decir, la hoja de ruta; operaciones de preparación, ensamble y terminados, cada proceso tiene un método, un tiempo estándar, descripción de la maquinaria, pies, guías, fólderes y aditamentos que se deben revisar.
          p.mb-0 En los puntos de revisión se realizan inspecciones, en las que se retienen prendas o piezas con defectos para analizar las causas y determinar acciones, así mismo, la revisión se lleva a cabo en los puestos de trabajo, donde la responsabilidad es de cada operario con el acompañamiento y apoyo del auditor de calidad en pie de máquina. Conforme corresponda la inspección se utilizan los formatos de producto terminado y en proceso. 

      .row.justify-content-center.mb-5
        .col-12 
          img(src="assets/images/pages/tema_1_6/img_1_6_01.jpg", alt="", style="width:100%") 

      .row.mb-5
        .col-12.col-lg-6.mb-5.mb-lg-0
          p Otros factores para tener en cuenta además de los anteriormente mencionados que son directos al proceso, son los factores ambientales como la iluminación, ventilación, temperatura, ruido, espacio, aseo, entre otros; y también los relacionados con el recurso humano como la capacitación del personal y las relaciones interpersonales, aspectos que inciden en los resultados de los productos y por ende, en la calidad de estos.
        .col-12.col-lg-6
          .highlight-text
            p.mb-0(style="font-size:18pt;").text-right También se pueden realizar pruebas o ensayos en laboratorios especializados que evalúen la prenda según normas nacionales e internacionales, una de ellas es la prueba de uso, en la que se compara los resultados planteados frente a los obtenidos.
      
      .jumbotron(style="background-color: #FFD54F")
        .row.justify-content-center.align-items-center 
          .col-auto.mb-5.mb-md-0 
            img(src="assets/images/pages/icons/icon_question.svg", alt="", style="width:90px")
          .col-12.col-md 
            p.mb-0 En las pruebas se analizan las fibras, en cuanto a la cantidad, colorimétrica, peso, composición, cambios dimensionales después del lavado, resistencia a la rotura y al desgarre, elongación y elasticidad de la tela, recuperación a las arrugas, resistencia a la abrasión, solidez al color con el frote, al agua, al planchado, resistencia a la formación de motas (pilling), entre otras.

      .jumbotron(style="background-color:#F1F3FF;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:16pt; font-weight:600;").mb-0 En el siguiente recurso se observan algunos ensayos con la norma relacionada que se pueden realizar a las prendas según sea su tipo.
          .col-auto 
            a(href="media/documentos/Pruebas_Calidad_Laboratorios.pdf",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDC3EA;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] Pruebas de calidad en laboratorios

      .hr-divider.my-5

      .row.mb-3   
        .col-12.col-lg.mb-5.mb-lg-0
          h2(style="color:#673AB7; font-weight:800;") Requisitos de calidad en confección
          p Los requisitos que se deben cumplir en la confección y que son objetos de control son:       

      .row.justify-content-center.align-items-center 
        .col-auto.mr-0.mr-lg-5.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1_1/img_1_1_02.svg", alt="", style="width:100%;")
        .col-12.col-lg          
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Costura:] simetría, sin recogidos ni prenses, costuras rectas, respetar márgenes de costura, costura uniforme, marquilla de acuerdo con el cuidado de la prenda, remates uniformes, clase de costuras.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Tela:] con colores uniformes, tela sin arrugas, sin imperfecciones.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Ambiente del taller:] orden y limpieza en piso, puestos de trabajo.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Ajuste de maquinaria:] mantenimiento de la máquina y uso de aditamentos, pies, guías y fólderes, agujas, altura de dientes, presión del pie prénsatela, enhebrado, devanado de hilo, tensión del hilo.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operario:] manipulación del material, métodos utilizados en la operación.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Instrucciones de cuidado y terminados:] según la norma, tener en cuenta los símbolos y la composición del material, incluidas en la etiqueta adherida en la prenda.

      .hr-divider.my-5

      .row.justify-content-center.mb-4
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_02.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_03.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_04.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
      
      .row.justify-content-center.mb-4 
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_05.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_06.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_07.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")

      .row.justify-content-center.mb-4 
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_08.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_09.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_10.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")

      .row.justify-content-center.mb-4 
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_11.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
        .col-9.col-md-8.col-lg-4.mb-4.mb-lg-0
          img(src="assets/images/pages/tema_1_6/img_1_6_12.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")

      .row.justify-content-center.mb-4 
        .col-12
          img(src="assets/images/pages/tema_1_6/img_1_6_13.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")
      
      .row.justify-content-center.mb-4 
        .col-12
          img(src="assets/images/pages/tema_1_6/img_1_6_14.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")

      .row.justify-content-center
        .col-12
          img(src="assets/images/pages/tema_1_6/img_1_6_15.jpg", alt="", style="display:block; width:100%; margin: 0 auto;")

      
        
