.container#tema_1_4

    .header-ecored
      h1 1.4 Control de calidad en patronaje

    .jumbotron.bg-white       
      
      .jumbotron(style="background-color: #FFD54F")
        .row.justify-content-center.align-items-center 
          .col-auto.mb-5.mb-md-0 
            img(src="assets/images/pages/icons/icon_question.svg", alt="", style="width:90px")
          .col-12.col-md 
            p.mb-0 El control de los procesos consiste en comprender cuáles son las variaciones en las características del producto, encontrar las causas y tomar las decisiones para controlar la variabilidad, eliminando los errores, estandarizando el proceso y estableciendo mejoras para tener una variabilidad controlada.
      
      .row.mb-5 
        .col-12 
          p En el proceso de patronaje, la persona responsable del patronaje de la prenda, junto con el auditor de calidad realizan la revisión del paquete de moldes o patrones que comprenden la pieza. Es importante revisarlos en físico, a pesar de que se desarrolle la prenda en un software especializado.
          p Una vez se desarrolla la prenda la validación de los patrones debe estar contenida en un documento de revisión de patronaje.

      .row.mb-5      
        .col-12.col-lg.mb-5.mb-lg-0
          h2(style="color:#673AB7; font-weight:800;") Requisitos de calidad en patronaje
        .col-12 
          p Los productos tienen variables y atributos, las variables son características cuantitativas y los atributos son las cualidades no cuantificables, los cuales constituyen los requisitos de una prenda.
          p Los requisitos además están clasificados de la siguiente manera:
      
      .row.mb-5 
        .col-6.mb-3 
          .row.justify-content-center.align-items-center 
            .col-auto 
              img(src="assets/images/pages/tema_1_4/img_1_4_01.svg", alt="", style="width:65px")
            .col 
              p.mb-2 #[strong Explícitos]
              p Declarados por el cliente, según sus expectativas.
        .col-6.mb-3 
          .row.justify-content-center.align-items-center 
            .col-auto 
              img(src="assets/images/pages/tema_1_4/img_1_4_02.svg", alt="", style="width:65px")
            .col 
              p.mb-2 #[strong Implícitos]
              p Necesarios para que cumplan su función.
        .col-6.mb-3 
          .row.justify-content-center.align-items-center 
            .col-auto 
              img(src="assets/images/pages/tema_1_4/img_1_4_03.svg", alt="", style="width:65px")
            .col 
              p.mb-2 #[strong Legales o reglamentarios]
              p De acuerdo con el cumplimiento de las leyes 
        .col-6.mb-3
          .row.justify-content-center.align-items-center 
            .col-auto 
              img(src="assets/images/pages/tema_1_4/img_1_4_04.svg", alt="", style="width:65px")
            .col 
              p.mb-2 #[strong Relacionados con la empresa]
              p Según las políticas de la empresa.

      .row 
        .col-12
          p Los requisitos para revisar en patronaje son:
          
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_01.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Medidas:] del patrón con costuras y sin costuras para comparar medidas con la prenda terminada y correspondencia con la talla, además se debe revisar que las medidas de las piezas sean iguales al unir y que tengan simetría, se puede superponer las piezas para observar que coincidan a sus longitudes.
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_02.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Cantidad de piezas:] correspondencia de piezas respecto al diseño y al dibujo plano del patrón. 
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_03.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Señalización de pieza:] debe contener identificación de la prenda, no se debe prestar a dualidades de información, además debe indicar la cantidad a cortar en cada pieza.
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_04.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Aplomos:] indicación clara de las líneas de aplomo de cada pieza.
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_05.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Costuras:] márgenes de costura en cada pieza, y la correspondencia con la pieza a unir, por ejemplo, si en el hombro de la pieza del delantero el ancho es de 1 cm de margen de costura, en el hombro posterior debe corresponder a la misma medida.
        .col-12.mb-4 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_06.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Piquetes y puntos:] existencia de puntos y piquetes, alineando las piezas y correspondiendo la unión de puntos y piquetes.
        .col-12 
          .jumbotron.mb-0 
            .row.justify-content-center.align-items-center 
              .col-auto
                img(src="assets/images/pages/tema_1_4/icon_1_4_07.svg", alt="", style="width:85px") 
              .col
                p.mb-0 #[strong Plantillas:] funcionalidad de la plantilla y sus medidas.


