.container#tema_2

    .header-ecored
      h1 2. Elaboración de prototipos en tejido de punto

    .jumbotron.bg-white               

      .row.justify-content-center.align-items-center.mb-5
        .col-12
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="", style="width:100%;")
      .row
        .col-12    
          p La elaboración de prototipos en tejido de punto se enfoca principalmente en la elaboración de línea interior y línea deportiva, donde se desarrollan gran variedad de productos, pasando por prendas delicadas, de manipulación cuidadosa, debido al material y tamaño de las piezas.              
          p Requiere maquinaria básica, además contar con aditamentos como dosificadores de elástico en fileteadoras, recubridoras, encauchadora, guías y fólderes especiales para asegurar la calidad de las costuras. También se incluye en el proceso máquinas zigzadoras y presilladoras.  
          p.mb-0 Los materiales utilizados requieren un manejo con mayor habilidad sobre todo en las prendas de tejido de punto, incluyendo los de composición de elastano.      