.container#tema_1_5

    .header-ecored
      h1 1.5 Control de calidad en trazo y corte

    .jumbotron.bg-white     
      .row.mb-5 
        .col-12 
          p En cada una de las actividades que se llevan a cabo en el área de trazo y corte se establecen controles para revisar y garantizar la calidad de las prendas.
          p.mb-0 Las personas encargadas de cada actividad en el área deben establecer comunicación permanente y abierta para coordinar el proceso, debido a que el error en esta área se replica igualmente en la producción; por ello, es importante detectar el problema a tiempo, siendo primordial contar con la trazabilidad de la producción para ubicar fácilmente cada lote, poder intervenir oportunamente los productos a corregir y dar respuesta rápida con el fin de solucionar los inconvenientes presentados. 
      
      .row.justify-content-center.mb-5
        .col-12 
          img(src="assets/images/pages/tema_1_5/img_1_5_01.jpg", alt="", style="width:100%")  

      .row.mb-3
        .col-12 
          p.mb-0 Los documentos utilizados en el área para controlar el corte, además de la orden de producción, son las inspecciones en corte para revisar cada actividad. También un formato que se puede anexar en el paqueteo en el que se validen las unidades de cada pieza en cada uno de los paquetes, siendo un apoyo visual importante en el alistamiento del proceso de confección.

      .CustomQuote.mb-5 
        .iconContainer              
          .quoteIcon
            img(src="assets/images/pages/icons/icon_quote.svg", alt="")
        .quoteBody 
          p.mb-0 Las personas encargadas de cada actividad en el área deben establecer comunicación permanente y abierta para coordinar el proceso. 

      .row.mb-5      
        .col-12.col-lg.mb-5.mb-lg-0
          h2(style="color:#673AB7; font-weight:800;") Requisitos de calidad en trazo y corte

      .row.justify-content-center.mb-5
        .col-12.mb-5
          .accordion#accordionExample
            .card
              .card-header#heading1
                h2.mb-0
                  button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Trazo
              .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5  
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_01.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Alineación de piezas:]
                      p cada pieza debe estar contenida en el trazo conforme a la línea de aplomo.
                  .row.align-items-center.mb-5 
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_02.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Organización de piezas:]
                      p con el fin de controlar los rendimientos de telas, es importante la disposición de las piezas, colocando una al lado de la otra y aprovechando líneas o curvas compartidas entre las piezas.
                  .row.align-items-center.mb-5  
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_03.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Cantidad de piezas:]
                      p contar el número de piezas que corresponda a cada talla del producto.
                  .row.align-items-center 
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_04.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Ancho de trazo:]
                      p conforme al ancho útil de la tela.         

            .card
              .card-header#heading2
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Tendido 
              .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_05.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Alineación de capas:]
                      p respetar el margen colocado a partir de la base, es decir, la primera capa. También en los extremos debe alcanzar a cubrir el largo del trazo, sobre todo en trazos escalonados.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_06.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Uniformidad de tendido:]
                      p el extendido de cada capa no debe tener arrugas.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_07.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Cantidad de capas:]
                      p antes de cortar se debe contar el número de capas para que correspondan a las unidades a cortar, según la distribución del trazo
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_08.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Tiempos de reposo:]
                      p sobre todo en tejidos de punto para evitar encogimiento, se tiene en cuenta la ficha técnica de la tela y se valida con pruebas que confirmen niveles de encogimiento, que se desarrollan una vez finalicen los tiempos de reposo.    
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_09.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Lado de tela:]
                      p a partir del tipo de trazo se debe respetar el derecho de la tela.  
                  .row.align-items-center
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_10.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Tela:]
                      p defectos de tela, marcas, piques, marras, entre otras. Cuidar la combinación de rollos y de colores para evitar contaminación entre los colores, debido a los residuos de las fibras en el corte del tejido.          

            .card
              .card-header#heading3
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Corte 
              .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_11.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Uniformidad:]
                      p respetar el trazo de cada pieza, obedeciendo a curvas y rectas según sea el caso de cada parte de la pieza.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_12.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Simetrías:]
                      p mantener las simetrías de cada pieza sosteniendo el colchón o bloque de telas, evitando que se corra para que no afecte la disposición de las capas inferiores.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_13.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Piquetes y puntos:]
                      p ubicación de piquetes y en profundidad no mayor a 0,4 cm; en los puntos evitar que se corra la ubicación, y debe tener un tamaño razonable.
                  .row.align-items-center
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_14.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Corte de piezas de forro y entretela:]
                      p revisar el material y que las piezas se corten conforme a la ficha técnica y a la programación de la producción.

            .card
              .card-header#heading4
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse4", aria-expanded="false", aria-controls="collapse4")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Tiqueteado 
              .collapse#collapse4(aria-labelledby="heading4", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_15.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Ubicación:]
                      p se coloca en el revés de la tela, en un lugar visible sin que afecte el ensamble.
                  .row.align-items-center
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_16.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Descripción:]
                      p la información debe corresponder a cada pieza, contener el número consecutivo de la misma en orden, según el tendido, además debe incluir talla y referencia.

            .card
              .card-header#heading5
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse5", aria-expanded="false", aria-controls="collapse5")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Fusionado 
              .collapse#collapse5(aria-labelledby="heading5", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_17.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Temperatura:]
                      p que corresponda con el material a fusionar.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_18.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Tiempo:]
                      p duración en la fusionadora.                  
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_19.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Presión:]
                      p ejercida en cada pieza para que la unión sea uniforme.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_20.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Alineación y posición:]
                      p que se encuentre derecha y teniendo en cuenta si se debe dejar el ancho de costura.
                  .row.align-items-center
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_21.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Limpieza de la máquina:]
                      p para evitar manchas en las prendas fusionadas
                      

            .card
              .card-header#heading6
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse6", aria-expanded="false", aria-controls="collapse6")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Paqueteado 
              .collapse#collapse6(aria-labelledby="heading6", data-parent="#accordionExample")
                .card-body
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_22.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Cantidad:]
                      p unidades de acuerdo con lo determinado para incorporar a la producción, 10 o 20, se prefiere paquetes pequeños que facilitan el manejo, o más unidades según lo establecido por la empresa.
                  .row.align-items-center.mb-5
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_23.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Amarre:]
                      p en el doblado incluir todas las piezas del paquete, con un amarre resistente.
                  .row.align-items-center
                    .col-auto 
                      img(src="assets/images/pages/tema_1_5/icon_1_5_24.svg", alt="", style="width:90px;")
                    .col
                      p #[strong Identificación:]
                      p rotulado de cada paquete con tarjetas que indiquen la información necesaria como talla, número de lote, cantidad, entre otras, que precisen el contenido del paquete.

