.container#tema_2_3

    .header-ecored
      h1 2.3 Confección de camiseta tipo polo

    .jumbotron.bg-white  
      .row.mb-5
        .col-12 
          p En relación con la confección de la camiseta se debe contar con las máquinas básicas, plana, fileteadora y recubridora. Se recomienda utilizar la fileteadora con puntada de refuerzo (4 hilos).            

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mr-0.mr-lg-5.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_2_2/img_2_2_01.svg", alt="", style="width:100%;")
        .col-12.col-lg          
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones preparación:] pechera, cuello, bolsillo, entre otras.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones ensamble:] unir por hombros, montar mangas, cerrar por costados, dobladillar ruedo, entre otras.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones de terminados:] ojalar, botonar, revisar, planchar, empacar, entre otras.

      .hr-divider.my-5

      .row
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/QPor7WBIZNA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')              
      
      .hr-divider.my-5

      .row
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HJJp-lOu1E4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')