.container#tema_2_2

    .header-ecored
      h1 2.2 Confección bóxer masculino

    .jumbotron.bg-white  
      .row.mb-5
        .col-12 
          p La prenda requiere máquina fileteadora de 3 hilos o con 4 hilos, con dosificadores de elástico, recubridoras con dosificador de elástico, presilladora. Este tipo de prendas se pueden ensamblar en la máquina flat seamer, que les da más seguridad a las costuras.               

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mr-0.mr-lg-5.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_2_2/img_2_2_01.svg", alt="", style="width:100%;")
        .col-12.col-lg          
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones preparación:] unir realce, unir tiro, entre otras.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones ensamble:] unir entre pierna, pierna, dobladillar pierna, fijar elástico, entre otras.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Operaciones de terminados:] presillar, limpiar, revisar, empacar, entre otras.

      .hr-divider.my-5

      .row
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3E8_mDzj8LU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            
      
      .hr-divider.my-5

      .row
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Y3tyM2WTpZ0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 