.container#tema_1_1

    .header-ecored
      h1 1.1 Concepto de calidad

    .jumbotron.bg-white       
      .row.mb-5
        .col-12 
          .jumbotron.mb-0 
            p.mb-0 Existen varias definiciones, y cada persona puede determinar un concepto propio, además de tener en cuenta las definiciones de los estudiosos en el tema, entre los cuales se encuentran:

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.col-lg-8.mb-5
          img(src="assets/images/pages/tema_1/info_1_01.svg", alt="", style="width:100%")
      
      .CustomQuote.mb-5 
        .iconContainer              
          .quoteIcon
            img(src="assets/images/pages/icons/icon_quote.svg", alt="")
        .quoteBody 
          p.mb-0 Al tener en cuenta los términos de los estudiosos se puede determinar que satisfacción, cliente, necesidades, mercado y expectativas son las palabras comunes que engloban el concepto para concluir que la calidad es el nivel de satisfacción del cliente, cumpliendo con los requisitos, es decir, con las necesidades y expectativas del cliente.

      .row.mb-3
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Concepto control de calidad

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.mb-5
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%")
        .col-12 
          p Una vez se tienen definidos los objetivos y los requisitos de calidad del producto se deben controlar las variaciones de esas características, cualidades o especificaciones exigidas por el cliente o de acuerdo con la norma.
          p.mb-0 Mejor llamado como control estadístico de la calidad es el proceso conformado por una serie de técnicas para analizar el comportamiento de las variaciones de los requisitos del producto, con el fin de establecer acciones que mejoren su calidad, en pro de aumentar las ventas y la productividad de la empresa.

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-6.mb-5.mb-lg-0 
          .jumbotron.mb-0.mr-0.mr-lg-4(style="background-color:#ECE2FF")
            p(style="font-size:16pt; font-weight:600;").mb-0 El control de calidad no solo está encaminado a las inspecciones del producto terminado, también es importante realizar las inspecciones del producto durante el proceso de producción.
        .col-12.col-lg-6
          p El cliente es la persona que adquiere el producto o servicio, puede o no utilizarlo y es quien paga por ello.
          .row.justify-content-center 
            .col-auto
              img(src="assets/images/pages/tema_1_1/icon_1_1_02.svg", alt="", style="width:120px")
            .col
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 #[strong Interno:] trabajador.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 #[strong Externo:] recibe el producto. Tener en cuenta que quien lo usa es el consumidor del mismo.

      .row.mb-5
        .col-12 
          .jumbotron(style="background-color:#FFE695").mb-0
            .row 
              .col 
                h2(style="color:#673AB7; font-size:20pt; font-weight:800;").mb-0 ¿Qué es un requisito?
              .col 
                p.mb-0 Es la traducción de las necesidades y expectativas del cliente y se presenta en tres niveles:

      .row.justify-content-center.mb-5
        .col-12.col-md-10.col-lg-4.mb-5.mb-lg-0
          .verticalCard--02   
            .verticalCard--02__number           
              p 1          
            .verticalCard--02__body              
              p.mb-2 #[strong(style="font-size:16pt;") Necesidades:]
              p principal objetivo del producto, si no existen genera insatisfacción.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Ser funcional
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Resolver el problema
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Entrega oportuna
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Respetar precio acordado
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Tiempo de duración de vida útil

           
        .col-12.col-md-10.col-lg-4.mb-5.mb-lg-0
          .verticalCard--02   
            .verticalCard--02__number           
              p 2      
            .verticalCard--02__body              
              p.mb-2 #[strong(style="font-size:16pt;") Expectativas:]
              p si se presentan en mayor medida genera satisfacción
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Darle importancia al cliente
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Trato cordial y amable al cliente
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Hacer sentir importante al cliente
              
        .col-12.col-md-10.col-lg-4
          .verticalCard--02   
            .verticalCard--02__number           
              p 3
            .verticalCard--02__body              
              p.mb-2 #[strong(style="font-size:16pt;") Superar expectativas:]
              p no esperado por el cliente (sorprenderle gratamente), incrementa el grado de satisfacción.
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Asistencia técnica
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Descuentos
              .list.mb-3
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                .list__txt
                  p.mb-0 Tiempos de entrega

      .hr-divider.my-5

      .row.justify-content-center.align-items-center 
        .col-auto.mr-0.mr-lg-5.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1_1/img_1_1_02.svg", alt="", style="width:100%;")
        .col-auto
          p Existen tipos de requisitos relacionados con:
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Función del producto:  referencia a su desempeño, responde a la pregunta ¿para qué sirve?
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Características técnicas: cantidades, peso, tamaño, color, entre otras.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Condiciones de pago y precio.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Plazos de entrega.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Especificaciones dadas por el cliente.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Mantenimientos y vida útil: instrucciones de uso y términos de garantía.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Legales: leyes y normas (rotulados, materiales, uso y residuos).

      .hr-divider.my-5

      .row.mb-5
        .col-12.mb-5 
          p Conforme con lo mencionado anteriormente, también podemos clasificar los requisitos de acuerdo con las características directas del producto, de la organización o de los externos, como el cliente y la normatividad.
          p Dado que se presentan variaciones en los productos es preciso permitir tolerancias, que son márgenes permisibles de variación y aceptación.

        .col-12
          h2(style="color:#673AB7; font-weight:800;") Antecedentes y evolución del control de calidad

        .col-12 
          p Al ubicarse de manera temporal en el cambio de la fabricación artesanal a la industrialización, derivado de la Revolución Industrial y de los cambios en la producción masificada, se presentó un auge en la industria del automóvil liderada por Henry Ford en la década de 1910, en la que se daba los inicios de la calidad en las inspecciones del producto terminado. 
          p Con el avance de la tecnología, de los estudios del trabajo y de la implementación de técnicas para aumentar la productividad, que buscaba la estandarización del producto, la calidad ganó importancia dentro del desempeño del negocio, es decir, a partir de los niveles de calidad del producto se empezó a satisfacer al cliente. Hoy en día, derivado de la cuarta Revolución Industrial, el proceso de control de calidad se viene automatizando para el análisis y predicción de fallas, sin olvidar que las personas siguen haciendo parte del proceso, al gestionar de manera integral la cadena de suministro.  

      .row(style="padding:2rem; border-radius:15px; background-color:#F1F3FF").justify-content-center.mb-5
        .col-12(style="background-color:#FCF8EC;")
          #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
              li(data-target='#carouselExampleIndicators', data-slide-to='3')
              li(data-target='#carouselExampleIndicators', data-slide-to='4')
              li(data-target='#carouselExampleIndicators', data-slide-to='5')

            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_01.svg', alt='0')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_02.svg', alt='1')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_03.svg', alt='2')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_04.svg', alt='3')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_05.svg', alt='4')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1_1/slider_1_1_06.svg', alt='5')                              
                                                  
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
      
      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Control de calidad en la industria textil y confección
      
        .col-12 
          p Se controla la calidad con el fin de mantener y corregir los defectos, errores o no conformidad que se presenta durante la producción de la prenda. Por tanto, se desarrolla según las variables y atributos del producto.
          .hr-divider.my-4 
          p Los beneficios de implementar las herramientas para el control de calidad son:          
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Reducción de costos
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Reducción de defectos
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Obtención de productos estandarizados
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Disminución de desperdicios
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Mejoras en los procesos
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Aumento de la productividad
          .hr-divider.my-4

        .col-12 
          p.mb-0 De acuerdo con lo anterior, el control de la calidad en la industria se realiza en los procesos y en los recursos que intervienen en la producción de la prenda, desde su diseño y patronaje; la materia prima, en este caso la tela; los insumos entre los que se destaca el hilo, el empaque, el embalaje y la entrega al cliente asociados a las características de cada proceso y de cada material.

      .row.justify-content-center.mb-5  
        .col-11
          .card-media(style="background: #EBE1FF;")
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1_1/number_01.svg").img-fluid
              .card__copy 
                p.mb-0 Planificación se establece un plan y programa de calidad, las técnicas y métodos a utilizar, la muestra y el lote.
        .col-11
          .card-media(style="background: #EBE1FF;")
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1_1/number_02.svg").img-fluid
              .card__copy 
                p.mb-0 Alistamiento de los recursos alistar instrumentos de medición como cintas métricas, calibradores y plantillas.
        .col-11
          .card-media(style="background: #EBE1FF;")
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1_1/number_03.svg").img-fluid
              .card__copy 
                p.mb-0 Implementación de la técnica: se verifica si se presentan defectos.
        .col-11
          .card-media(style="background: #EBE1FF;")
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1_1/number_04.svg").img-fluid
              .card__copy 
                p.mb-0 Registros de mediciones y controles.
        .col-11
          .card-media(style="background: #EBE1FF;")
            .card-media__body                 
              figure.card__figure
                img(src="assets/images/pages/tema_1_1/number_05.svg").img-fluid
              .card__copy 
                p.mb-0 Análisis y definición de acciones correctivas, análisis de causas de defectos.        

        .col-12.my-5 
          p Mejora continua, con el fin de prever ocurrencias de la no conformidad, y facilitar la toma de decisiones.

        .col-12.mb-5
          img(src="assets/images/pages/tema_1_1/img_1_1_03.jpg", alt="", style="width:100%;")

      .row
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Automatización del control de calidad en la industria textil y confección

        .col-12.mb-5
          p La calidad 4.0 está relacionada con la revolución digital, teniendo en cuenta las tecnologías big data, inteligencia artificial, machine learning, deep learning e internet de las cosas. La automatización de los procesos proporciona agilidad, más seguridad en los datos porque disminuye la presentación de información incorrecta, y más conocimiento sobre cada área de la empresa.
          p La implementación básica se refiere a la utilización de software especializado; de herramientas de calidad como los programas SPSS, Statgraphics Centurion o SAS; de recursos relacionados con internet de las cosas, por ejemplo, la geolocalización con aplicaciones con códigos QR, y las relacionadas con las herramientas Lean Manufacturing.

        .col-12.mb-5
          img(src="assets/images/pages/tema_1_1/img_1_1_04.jpg", alt="", style="width:100%;")

        .col-12          
          p.mb-0 Con la integración de datos y su tratamiento avanzado se puede simular los procesos para mejorar la gestión de calidad. Además, las personas encargadas directamente de la calidad pueden desarrollar actividades de manera remota, sin necesidad de su presencia in situ en la empresa. También puede apoyar la planificación de auditorías en el mejoramiento de la implementación de la metodología 5S.
        








          
            