.container#tema_1_2

    .header-ecored
      h1 1.2 Concepto de calidad

    .jumbotron.bg-white       
      .row.mb-3
        .col-12 
          p Para realizar una correcta gestión de la calidad en la empresa se debe tener en cuenta los siguientes enfoques:

      .row.mb-3
        .col-12.mb-3  
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 1
                .list__txt
                  p.mb-0 #[strong Enfoque al cliente:] conocer al cliente, requisitos y expectativas.
        .col-12.mb-3    
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 2
                .list__txt
                  p.mb-0 #[strong Enfoque estratégico:]  establecer objetivo de calidad como clave para la empresa, e incluirlo en su visión.
        .col-12.mb-3    
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 3
                .list__txt
                  p.mb-0 #[strong Liderazgo enfocado:] compromiso positivo de la dirección de la empresa.
        .col-12.mb-3    
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 4
                .list__txt
                  p.mb-0 #[strong Enfoque en procesos:] control de los procesos. 
        .col-12.mb-3    
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 5
                .list__txt
                  p.mb-0 #[strong Orientación a las personas:] involucrar al personal y ofrecerle capacitación permanente, con el fin de aumentar el nivel de compromiso y satisfacción del cliente interno.
        .col-12.mb-3    
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 6
                .list__txt
                  p.mb-0 #[strong Enfoque científico:] evaluación de la calidad con evidencias y datos, aplicación del método científico
        .col-12.mb-3   
          .pill(style="padding:1.5rem; background-color:#F1F3FF; border-radius:5px")
            .list
                .list__item
                  .list__item__bulletNumber(style="background-color:#7986CB;")   
                    span(style="color:white;") 7
                .list__txt
                  p.mb-0 #[strong Mejora continua, innovación y aprendizaje:] todo proceso es susceptible de mejoras, no consiste solo en corregir sino actuar de forma proactiva.

      .CustomQuote.mb-5 
        .iconContainer              
          .quoteIcon
            img(src="assets/images/pages/icons/icon_quote.svg", alt="")
        .quoteBody 
          p.mb-0 La comunicación interna también debe estar bien organizada, contar con un sistema de comunicación adecuado para evitar duplicidades de información que afecten negativamente la gestión de la calidad.

      .row.mb-5 
        .col-12 
          p Para reconocer la gestión en los procesos se debe tener en cuenta el ciclo de Deming, sobre el cual se construyen los sistemas de gestión. En la siguiente figura se aprecia cómo se constituye el ciclo de calidad para la mejora continua.

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.col-md-10.col-lg-7 
          img(src="assets/images/pages/tema_1_2/img_1_2_01.svg", alt="", style="width:100%")

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Cultura de la calidad
        .col-12 
          p Son los principios de calidad que rigen la forma de actuar de las personas que hacen parte de la organización, para que interactúen entre ellas y así lograr en equipo los objetivos propuestos.
          p Esta base definida en términos de valores y hábitos, del quehacer diario de todos los que trabajan en la empresa, requiere para su implementación la capacitación efectiva y constante, la interacción a través de una comunicación asertiva y eficaz para seguir construyendo una cultura de la calidad sólida; la metodología utilizada son los círculos de calidad desarrollados por Kauro Ishikawa. En la siguiente figura se aprecian sus componentes. 

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.col-md-10.col-lg-7 
          img(src="assets/images/pages/tema_1_2/img_1_2_02.svg", alt="", style="width:100%")    

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Metodología de mejoramiento continuo
        .col-12 
          p La metodología se encuentra enmarcada dentro del ciclo de mejoramiento continuo, en el que se desarrollan trece pasos. De manera que todo el personal involucrado en la empresa debe participar para que el mejoramiento sea constante, ya que es un trabajo diario. 
          p Los elementos del Kaizen son:

      .row.justify-content-center.mb-5
        .col-auto.mb-4
          img(src="assets/images/pages/tema_1_2/icon_1_2_01.svg", alt="", style="width:180px;")
        .col-auto.mb-4
          img(src="assets/images/pages/tema_1_2/icon_1_2_02.svg", alt="", style="width:180px;")
        .col-auto.mb-4
          img(src="assets/images/pages/tema_1_2/icon_1_2_03.svg", alt="", style="width:180px;")
        .col-auto.mb-4
          img(src="assets/images/pages/tema_1_2/icon_1_2_04.svg", alt="", style="width:180px;")
        .col-auto.mb-4
          img(src="assets/images/pages/tema_1_2/icon_1_2_05.svg", alt="", style="width:180px;")   

      .row.mb-5
        .col-12 
          p Para conocer sobre la metodología Kaizen, leer la estrategia Kaizen ubicada en las referencias bibliográficas (Lefcovich, 2009).
          p La estrategia Kaizen fue desarrollada en Japón una vez terminada la II Guerra Mundial, la cual inicia con el análisis del problema; en la siguiente figura podemos observar los diferentes aspectos a tener en cuenta:
      
      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.col-md-10.col-lg-9 
          img(src="assets/images/pages/tema_1_2/img_1_2_03.svg", alt="", style="width:100%")       

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.mb-5 
          .jumbotron.mb-0
            p.text-center.mb-0 A continuación, se pueden observar los 13 pasos de la metodología, descritos en la siguiente tabla:
        .col-12.col-lg-9 
          img(src="assets/images/pages/tema_1_2/info_1_2_01.svg", alt="", style="width:100%") 
          p.text-center.mt-5 #[i Tabla tomada del SENA - Programa Técnico control calidad en confección industrial (2020)]

      .row.mb-5
        .col-12 
          .jumbotron(style="background-color:#FFE695").mb-0
            .row 
              .col 
                h2(style="color:#673AB7; font-size:20pt; font-weight:800;").mb-0 ¿Qué es el Six sigma?
              .col 
                p.mb-0 Es un modelo de gestión, el objetivo es el mejoramiento de los procesos; se conoce por su sigla en inglés DMAIC cuya traducción está asociada a definir, medir, analizar, mejorar y controlar. 

      .row.justify-content-center.align-items-top.mb-5 
        .col-12.col-lg-6 
          .row.justify-content-center.align-items-center.mb-3 
            .col-auto 
              img(src="assets/images/pages/tema_1_2/icon_definir.svg", alt="", style="width:65px;") 
            .col 
              p #[strong Definir:] el objetivo del problema o defecto a validar, además de los miembros del programa.
          .row.justify-content-center.align-items-center.mb-3  
            .col-auto 
              img(src="assets/images/pages/tema_1_2/icon_medir.svg", alt="", style="width:65px;") 
            .col 
              p #[strong Medir:] entender el problema o defecto.
          .row.justify-content-center.align-items-center.mb-3  
            .col-auto 
              img(src="assets/images/pages/tema_1_2/icon_analizar.svg", alt="", style="width:65px;") 
            .col 
              p #[strong Analizar:] investigar causas reales del problema o defecto.

        .col-12.col-lg-6 
          .row.justify-content-center.align-items-center.mb-3  
            .col-auto 
              img(src="assets/images/pages/tema_1_2/icon_mejorar.svg", alt="", style="width:65px;") 
            .col 
              p #[strong Mejorar:] determinar las mejoras.
          .row.justify-content-center.align-items-center.mb-3  
            .col-auto 
              img(src="assets/images/pages/tema_1_2/icon_controlar.svg", alt="", style="width:65px;") 
            .col 
              p #[strong Controlar:] tomar medidas para mantener el progreso, estimación en términos económicos y en relación con el nivel de satisfacción del cliente.

      .row.mb-5 
        .col-12 
          p.mb-0 El nombre proviene de los casos en que se presenta una menor variación entre los datos, así mismo, la desviación estándar es menor, por lo tanto, mayor va a ser la sigma alcanzada en el nivel 6. 

      .jumbotron(style="background-color:#F1F3FF;").mb-5
        .row.justify.content-center.align-items-center 
          .col.mb-4.mb-lg-0 
            p(style="font-size:16pt; font-weight:600;").mb-0 Para conocer más sobre el modelo le invitamos a visitar el sitio web de Leansolutions.          
          .col-auto 
            a(href="http://leansolutions.co/conceptos-lean/que-es-six-sigma/",target="_blank",style="color:#12263F") 
              .jumbotron(style="background-color:#CDC3EA;").mb-0.p-4
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Sitio web.] Leansolutions

      .row.mb-5
        .col-12         
          p En cada fase se utilizan herramientas para el análisis y creación de gráficos como histogramas, diagrama causa efecto, Pareto, gráficos de tendencias, análisis de correlación, capacidad del proceso, gráficos de control, entre otros.

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12
          img(src="assets/images/pages/tema_1_2/img_1_2_04.jpg", alt="", style="width:100%") 

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Costos de calidad
        .col-12 
          p La meta general de la empresa es ser rentable y obtener ganancias, por eso la relación de la calidad con el precio se debe analizar, concientizando al personal sobre su importancia.
          p Es importante entender y concientizar al personal sobre el control de los costos de calidad. En la siguiente figura se puede observar los tipos de costos de calidad.

      .row.justify-content-center.mb-5.mb-lg-6 
        .col-12.col-lg-10
          img(src="assets/images/pages/tema_1_2/img_1_2_05.svg", alt="", style="width:100%") 

      .row.mb-3
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Sistema de gestión de la calidad, Norma ISO 9001 versión 2015

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.col-lg.mb-5.mb-lg-0
          p.mb-0 El sistema de gestión de la calidad es una herramienta administrativa, cuenta con una estructura organizada para integrar todos los procesos, e incluye los elementos necesarios para lograr cumplir las necesidades y expectativas del cliente. Obtener la certificación es evidenciar la capacidad que tiene la empresa para cumplir con los requisitos. Una vez certificada la empresa su vigencia es de tres años, con auditorias de seguimiento y una vez pasados los tres años se debe realizar una auditoría de renovación.
        .col-auto.ml-0.mx-lg-5 
          img(src="assets/images/pages/tema_1_2/img_1_2_06.svg", alt="", style="width:250px;")

      .jumbotron(style="background-color: #FFD54F")
        .row.justify-content-center.align-items-center 
          .col-auto.mb-5.mb-md-0 
            img(src="assets/images/pages/icons/icon_question.svg", alt="", style="width:90px")
          .col-12.col-md 
            p.mb-0 La certificación es una constancia de valor a nivel internacional. El enfoque de la norma está basado en los riesgos, a través de los cuales la empresa demuestra la gestión de los riesgos y determina las acciones que pueden afectar la capacidad de proporcionar satisfacción al cliente y obtener los resultados esperados de la empresa. 

      .row.mb-5 
        .col-12
          p La norma especifica qué debe hacerse, pero no cómo hacerlo. Para la norma es primordial que la información se encuentre documentada.

      .row 
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Introducción
        .col-12.col-md-6
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 1
            .list__txt
              p.mb-0 Objeto y campo de aplicación 
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 2
            .list__txt
              p.mb-0 Referencias normativas
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 3
            .list__txt
              p.mb-0 Términos y definiciones
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 4
            .list__txt
              p.mb-0 Contexto de la organización
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 5
            .list__txt
              p.mb-0 Liderazgo
        .col-12.col-md-6
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 6
            .list__txt
              p.mb-0 Planificación
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 7
            .list__txt
              p.mb-0 Apoyo
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 8
            .list__txt
              p.mb-0 Operación
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 9
            .list__txt
              p.mb-0 Evaluación del desempeño
          .list.mb-3
            .list__item
              .list__item__bulletNumber(style="background-color:#7986CB;")   
                span(style="color:white;") 10
            .list__txt
              p.mb-0 Mejora


        

        


        


        

          
       

