.container#tema_1

    .header-ecored
      h1 1. Control de calidad

    .jumbotron.bg-white     
      .row.justify-content-center.align-items-center.mb-5 
        .col-12.mb-5
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%")
        .col-12
          p Con el crecimiento de la industrialización se requería ejercer control en los procesos para disminuir los desperdicios y los reprocesos en la producción, cada vez con niveles de unidades más altas, necesitando estandarizar las características del producto fabricado.
          p.mb-0 A partir de lo mencionado, revisar la producción proporciona una mayor confianza por parte del cliente, mejora la competitividad y sirve como una herramienta en la administración de la empresa.

      .row
        .col-12
          .jumbotron.p-3(style="background-color:#ECE2FF;")  
            p.mb-0 Es importante mencionar los principios de calidad para el control de la misma:

        .col-12.mb-5         
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Mejora continua.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Evitar inspecciones masivas.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Relación de precio y calidad.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Métodos modernos de capacitación y entrenamiento.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Exigencia de la competitividad.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Identificación del trabajador con sus funciones y su aporte a la calidad.
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Eliminación de barreras entre áreas.
          .list.mb-5
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 Establecer ruta de calidad.

          p.mb-0 Acciones que permiten encaminar la empresa hacia el proceso de control de calidad.

      
